    .header{
        margin-bottom: 100px;
    }

    nav, .header-top{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-top{
        justify-content: space-between;
    }

    .navitem{
        margin: 0 20px;
    }

    .nav-item-container:hover .dropdown{
        display: flex;
    }

    .dropdown{
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: center;
    }